<% provide(:title, "Contact") %>

<h1>Help</h1>
<nav><a href="/static_pages/home">Home</a> | <a href="/static_pages/help">Help</a> | <a href="/static_pages/about">About</a></nav>

<a href="http://nathanstruhs.com" target="blank">Contact Me</a>
