<h1>Sample App</h1>
<nav><a href="/static_pages/help">Help</a> | <a href="/static_pages/about">About</a> | <a href="/static_pages/contact">Contact</a></nav>
<p>
  This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>
